{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
category_news_list
{% endblock title %}


{% block content %}
<h1>Все статьи</h1>
<h3>{{ posts|length }}</h3>

{% if is_not_subscriber %}
<button> <a href="{% url 'subscribe' category.id %}"> Подписаться</a> </button>
{% endif %}

   <hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Категория</td>
           </tr>

           {% for post in category_news_list %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_of_posting|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
               <td>
                   {% for category in post.category.all %}
                      <a href="{% url 'category_list' category.id%}">{{ category }}</a>
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}